# Entornos virtuales
venv/
.venv/
env/

# Archivos generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
build/
dist/
*.spec

# PyCharm / IntelliJ
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.loggit